.board-layout-ad {
  display: none !important;
}

.adblock {
  margin-right: 0 !important;
}

body {
  margin-right: 0 !important;
  padding-bottom: 0 !important;
}

.upgrade-component {
  display: none !important;
}